header img.svg01 {
    width: 12rem;
    height: 12rem;
    position: absolute;
    top: -80px;
    left: -60px;
    z-index: -1;
}

header img.svg02 {
    width: 30rem;
    height: 30rem;
    position: absolute;
    top: 50vh;
    right: -15rem;
    transform: translateY(-30%);
    z-index: -1;
}