.addProducts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 2rem;
}

.addProducts div a {
    background-color: teal;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
}